{% load static %}
<style>
    .node {
        fill: #5e5eef;
        stroke: #fff;
        text-anchor: middle;
    }

    .tooltip {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        pointer-events: none;
        font-family: Montserrat, sans-serif;
    }

    .link.connected {
        stroke: red !important;
        stroke-width: 3;
    }

    .link {
        stroke: #999;
        stroke-opacity: 0.6;
        stroke-width: 1;
    }

    .label, .link-label {
        fill: black;
        font-weight: bold;
        font-family: Arial, sans-serif;
        font-size: 1em;
        text-anchor: middle;
        pointer-events: none;
    }

    .link-label {
        fill: #353838;
        font-size: 0.8em;
    }

    .simple-svg-container, .container-simple {
        width: 100%;
        height: 100%;
    }
</style>
<div class="tooltip" style="display: none;"></div>
<div class="simple-svg-container">
    <svg id="container-simple" class="container-simple"></svg>
</div>

<script src="{% static 'js_observer.js' %}"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>

    visualizer_observer.notify(EventType.NODE_SELECTED)
    // Parse the graph data passed from the view function
    console.log('aaaa')
    var graphData = JSON.parse('{{ graph_json | safe }}');

    var tooltip = d3.select(".tooltip");

    var svg = d3.select(".container-simple");
    // Create force simulation
    var simulation = d3.forceSimulation()
        .nodes(graphData.nodes)
        .force("link", d3.forceLink(graphData.edges).id(function (d) {
            return d.id;
        }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(400, 300))
        .force("collide", d3.forceCollide().radius(function (d) {
            return getRadius(d.weight) * 3;
        }).iterations(5)); // Adjust the radius as needed; // Center the simulation in the SVG container

    // Draw edges
    var link = svg
        .selectAll(".link")
        .data(graphData.edges)
        .enter().append("line")
        .attr("class", "link");

    // Draw nodes
    var node = svg
        .selectAll(".node")
        .data(graphData.nodes)
        .enter().append("circle")
        .attr("class", "node")
        .attr("text-anchor", "middle")
        .attr("r", function (d) {
            d.weight = link.filter(function (l) {
                return l.source.index == d.index || l.target.index == d.index
            }).size();
            return getRadius(d.weight);
        })
        .on("click", function (event, d) {
            let selectedNodeId = d.index;

            link.attr("class", function (l) {
                if (l.source.index === selectedNodeId || l.target.index === selectedNodeId) {
                    return "link connected"; // Add connected class
                } else {
                    return "link";
                }
            });

            visualizer_observer.notify(EventType.NODE_SELECTED, selectedNodeId);

        });


    node.on("mouseover", function (event, d) {
        // Show tooltip
        tooltip.style("display", "block")
            .html(function () {
                var html = "Node: " + d.name + "<br>";
                for (var key in d.properties) {
                    if (d.properties.hasOwnProperty(key)) {
                        html += key + ": " + d.properties[key] + "<br>";
                    }
                }
                return html;
            })
            .style("left", (event.pageX + 10) + "px")
            .style("top", (event.pageY - 10) + "px");
    })
        .on("mouseout", function () {
            // Hide tooltip
            tooltip.style("display", "none");
        });


    var edgeLabels = svg
        .selectAll(".link-label")
        .data(graphData.edges.filter(function (d) {
            return d.value !== undefined && d.value !== '' && d.value !== null;
        }))
        .enter().append("text")
        .attr("class", "link-label")
        .attr("dy", -5)
        .style("text-anchor", "middle")
        .text(function (d) {
            return d.value;
        });

    var nodeLabels = svg
        .selectAll(".label")
        .data(graphData.nodes)
        .enter().append("text")
        .attr("class", "label")
        .attr("dy", -15)
        .style("text-anchor", "middle")
        .text(function (d) {
            return d.name === '' ? d.id : d.name;
        });

    // Update node and edge positions during simulation
    simulation.nodes(graphData.nodes).on("tick", ticked);
    simulation.force("link").links(graphData.edges);

    var zoom = d3.zoom().scaleExtent([0.5, 5]);

    svg.call(zoom);


    function sendDataToMinimap() {
        var minimapData = {
            mainSVG: svg,
            zoom: d3.zoomTransform(svg.node())
        };

        visualizer_observer.notify(EventType.HTML_CHANGED, minimapData);
    }

    setInterval(sendDataToMinimap, 100);

    zoom.on("zoom", function (event) {
        var currentZoom = event.transform.k;
        node.attr("transform", d3.zoomTransform(this));
        link.attr("transform", d3.zoomTransform(this));
        nodeLabels.attr("transform", d3.zoomTransform(this));
        edgeLabels.attr("transform", d3.zoomTransform(this));
    });


    // Define drag behavior
    var drag = d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);

    // Apply drag behavior to nodes
    node.call(drag);


    function getRadius(d) {
        var minradius = 15;
        return minradius + (d * 4);
    }


    // Drag start function
    function dragstarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    // Drag function
    function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
    }

    // Drag end function
    function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

    function handleNodeSelection(selectedNodeId) {
        console.log("Clicked node id received in D3: ", selectedNodeId);
    }


    visualizer_observer.attach(EventType.NODE_SELECTED, set_selected_node)

    function set_selected_node(event, selected_node) {
        if (selected_node) {
            console.log("Selected node has been set in simple visualizer: ", selected_node);
            link.attr("class", function (l) {
                if (l.source.index === selected_node || l.target.index === selected_node) {
                    return "link connected";
                } else {
                    return "link";
                }
            });
        }
    }


    function ticked() {


        link.attr("x1", function (d) {
            return d.source.x;
        })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            });

        node.attr("cx", function (d) {
            return d.x;
        })
            .attr("cy", function (d) {
                return d.y;
            });

        nodeLabels.attr("x", function (d) {
            return d.x;
        })
            .attr("y", function (d) {
                return d.y;
            }).attr("dy", ".35em");

        edgeLabels.attr("x", function (d) {
            return (d.source.x + d.target.x) / 2;
        })
            .attr("y", function (d) {
                return (d.source.y + d.target.y) / 2;
            });

    }
</script>